/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-size: 24px;
  line-height: 150%;
  color: #333;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
  float: left;
  width: 33.33%;  
  padding: 20px;
  margin-bottom: 20px;
}

#left {
  background-color: #666;
}

#middle {
  background-color: #888;
}

#right {
  background-color: #666;
}

#full {
  width: 100%;
  background-color: #eee;
  clear:both;
  overflow: auto;
}

#division {
  margin-top: 20px;
  background-color: #6ea3da;
  padding: 20px;
}

aside {
  padding: 20px;
  margin-left: 30px;
  height: 200px;
  width: 33%;
  background-color: #fff;
  float: left;
}

footer {
  padding: 20px;
  margin-top: 20px;
  background-color: #ccc;
  clear: both;
}
