a {
    font-size: 40px;
    padding: 10px;
    color: lightblue;
    display:block;
}

a.link1:hover {
    color: black;
}

a.link2:active {
    visibility: hidden;
}

a::before {
    content: "-->";
    text-decoration: none;
    color:black
}

a::after {
    content: "<--";
    text-decoration: none;
    color:black
}